<%- include('partials/header')%>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <main>

    <div class="box1 box">
      <div class="content">
        
        <div class="text">
          <p class="name"><%= user.username %></p>
          <p class="job_discription"><%= user.email %></p>
          <a href="/logout"><button class="message" type="button">Log Out</button></a>
        </div>
        
        <div class="button">
          <div>
            <a href="/addBudget"><button class="message" type="button">Update Budget</button></a>
          </div>
          <div>
            <a href="/resetPassword"><button class="connect" type="button">Reset Password</button></a>
            
          </div>
        </div>
      </div>
    </div>
  
  <div class="main">
    <% let bdg = 0 %>
    <% let per = 0 %>
    <% if(budget){ %>
        <% bdg = budget %>
    <% } %>
    <% if(totalSpend){ %>
      <%let rem = bdg -totalSpend %>
      <%per = 100 - ((rem/bdg) *100)%> 
      <%} %>
    
    <div class="card">
        <div class="card-left">
            <h4>Overview</h4>
            <div class="score">
              <% if(totalSpend){ %>
      
                <h1><%= totalSpend %> </h1>
        
                <%} else {%>
                <h1>0</h1>
                <% } %>
                <span>of <%= bdg %></span>
            </div>
            <div class="score-content">
                <p>You spend <%= Math.floor(per) %>% of the total budget.</p>
            </div>
        </div>
        <div class="card-right">
            <h2>Summary</h2>
            <ul class="summary-lists">
             <% userCatExp.forEach(function(exp){ %>
                <li>
                  <div class="li-left">
                      <span class="white"><%= exp.name %></span>
                  </div>
                  <div class="li-right">
                      <p><b><%= exp.amount %></b></p>
                  </div>
              </li>
              <%})%>
                
                
        </div>
    </div>
  </div>

</main>
  
  
<%- include('partials/footer')%>
</body>
</html>